In [2]:
import pandas as pd
# pd is context  manager

In [3]:
a = [4,5,6]
myvar = pd.Series(a)
print(myvar)

0    4
1    5
2    6
dtype: int64

In [4]:
a = [4,5,6]
myvar = pd.Series(a,index = ["x","y","z"])
print(myvar)

x    4
y    5
z    6
dtype: int64

In [5]:
print(myvar["y"])

5

In [6]:
print(myvar[1])

5

C:\Users\HP\AppData\Local\Temp\ipykernel_13308\2320585734.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(myvar[1])

In [7]:
calories = {"day1":420,"day2":380,"day3":390}

myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [8]:
#every key will be an index position
print(myvar['day2'])

380

In [9]:
print(myvar[1])

380

C:\Users\HP\AppData\Local\Temp\ipykernel_13308\2320585734.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(myvar[1])

In [10]:
calories = {"day1":420,"day2":380,"day3":390}

myvar = pd.Series(calories,index=["day1","day2","day4"])
print(myvar)

day1    420.0
day2    380.0
day4      NaN
dtype: float64

## Dataframe:2D

In [12]:
data = {
    "calories":[420,380,390],
    "duration":[50,40,45]
    }
df = pd.DataFrame(data)
print(df)
df.shape

   calories  duration
0       420        50
1       380        40
2       390        45

(3, 2)

In [17]:
data = {
    "calories":[420,380,390],
    "duration":[50,40,45]
    }
df = pd.DataFrame(data,index=["day1","day2","day3"])
print(df)
df.shape

      calories  duration
day1       420        50
day2       380        40
day3       390        45

(3, 2)

In [19]:
calories = {"day1":420,"day2":380,"day3":390}
df = pd.DataFrame(calories)
df

ValueError: If using all scalar values, you must pass an index

In [15]:
calories = {"day1":420,"day2":380,"day3":390}
df = pd.DataFrame(calories,index=[1])
df

   day1  day2  day3
1   420   380   390

In [22]:
# list into dataframe

lst = ["My","name","is","nikhil","garg"]

df = pd.DataFrame(lst)
df

        0
0      My
1    name
2      is
3  nikhil
4    garg

In [21]:
# list into dataframe

lst = ["My","name","is","nikhil","garg"]

df = pd.DataFrame(lst,columns=["details"])
df

  details
0      My
1    name
2      is
3  nikhil
4    garg

In [23]:
#joining multiple lists
lst1 = ["My","name","is","nikhil","garg"]
lst2 = [2,4,8,9,6]

list(zip(lst1,lst2)) #tuple inside list

[('My', 2), ('name', 4), ('is', 8), ('nikhil', 9), ('garg', 6)]

In [24]:
#convert multiple list into dataframe

lst1 = ["My","name","is","nikhil","garg"]
lst2 = [2,4,5,6,7]

df = pd.DataFrame(list(zip(lst1,lst2)),columns=["Details","Val"])
df

  Details  Val
0      My    2
1    name    4
2      is    5
3  nikhil    6
4    garg    7

In [26]:
#converting list of list (multidimensional) into dataframe
lst = [['nikhil',36],['rupail',30],["deep",28],["prithvish",35]]
df = pd.DataFrame(lst,columns=["Name","Age"])
df

        Name  Age
0     nikhil   36
1     rupail   30
2       deep   28
3  prithvish   35

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")
titanic

In [ ]:
titanic.shape

In [ ]:
titanic.head()
# print default top 5 rows

In [ ]:
titanic.head(2)

In [ ]:
titanic.tail()
# print default bottom 5 rows

In [ ]:
titanic.tail(2)

In [ ]:
#exploration of categorical columns
titanic["pclass"].unique()

In [ ]:
#summary of dataframe
titanic.info()

In [ ]:
ages = titanic[['ages']]
ages.head()

In [ ]:
type(ages)

In [ ]:
ages.shape

In [ ]:
age_sex = titanic[["age","sex"]]
age_sex.head()

In [ ]:
age_sex.shape

In [ ]:
type(age_sex)